  <%= link_to "Create New Post",new_article_path(),:class=>"new button" %> 
  
  <%= link_to "Create New Category",new_category_path(),:class=>"new button" %> 
 
  <div class="grid_3">
  Categories
  <table>
    <thead>
      <th>Name</th>
      <th width="30"></th>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%=link_to image_tag('/images/edit_10.png', :border => "0"),edit_category_path(category)%>
          <%=link_to image_tag('/images/delete_10.png', :border => "0"),category_path(category),:confirm => "Are u sure u want to delete '#{category.name}' category?",:method => :delete, :title => "Delete #{category.name}"%>
        </td>
      </tr>  
    <% end %>
    </tbody>
</table>
</div>
